@model IEnumerable<CLIENT.WEB.Models.Configuracion>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>Listar Configuración</h2>

<p>
    @Html.ActionLink("Nueva Configuracion", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdConfiguracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habilitar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdConfiguracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habilitar)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdConfiguracion }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.IdConfiguracion }) |
            @Html.ActionLink("Eliminar", "Delete", new {  id= item.IdConfiguracion })
        </td>
    </tr>
}

</table>
